<?xml version="1.0" encoding="utf-8"?>
<Activator xmlns="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator EAServiceConfig.xsd"
           >
  <NotificationServiceList>
    <NotificationService name="mycompany/services/notificationdb/notificationservice" id="100" enabled="true">
      <Description>My test notification service</Description>
      <ConnectionString>
        <!-- All connection string parameters except User Id and Password should be specificed here -->
        <Unencrypted>server=db2,14331\s14dev1;database=notificationdb;Application Name=External Activator;Integrated Security=true;</Unencrypted>
      </ConnectionString>
    </NotificationService>
  </NotificationServiceList>
  <ApplicationServiceList>
    <ApplicationService name="orderapp" enabled="true">
      <OnNotification>
        <ServerName>db2\s14dev1</ServerName>
        <DatabaseName>notificationdb</DatabaseName>
        <SchemaName>dbo</SchemaName>
        <QueueName>ordernotificationqueue</QueueName>
      </OnNotification>
      <LaunchInfo>
        <ImagePath>C:\projects\orderapp\Phyo.Lab.NotificationListener.exe</ImagePath>
        <CmdLineArgs></CmdLineArgs>
        <WorkDir>C:\projects\orderapp</WorkDir>
      </LaunchInfo>
      <Concurrency min="1" max="1" />
    </ApplicationService>
    <ApplicationService name="inventoryapp" enabled="true">
      <OnNotification>
        <ServerName>db2\s14dev1</ServerName>
        <DatabaseName>notificationdb</DatabaseName>
        <SchemaName>dbo</SchemaName>
        <QueueName>inventorynotificationqueue</QueueName>
      </OnNotification>
      <LaunchInfo>
        <ImagePath>C:\projects\inventoryapp\Phyo.Lab.NotificationListener.exe</ImagePath>
        <CmdLineArgs></CmdLineArgs>
        <WorkDir>C:\projects\inventoryapp</WorkDir>
      </LaunchInfo>
      <Concurrency min="1" max="1" />
    </ApplicationService>
    <ApplicationService name="customerapp" enabled="true">
      <OnNotification>
        <ServerName>db2\s14dev1</ServerName>
        <DatabaseName>notificationdb</DatabaseName>
        <SchemaName>dbo</SchemaName>
        <QueueName>customernotificationqueue</QueueName>
      </OnNotification>
      <LaunchInfo>
        <ImagePath>C:\projects\customerapp\Phyo.Lab.NotificationListener.exe</ImagePath>
        <CmdLineArgs></CmdLineArgs>
        <WorkDir>C:\projects\customerapp</WorkDir>
      </LaunchInfo>
      <Concurrency min="1" max="1" />
    </ApplicationService>
  </ApplicationServiceList>
  <LogSettings>
    <LogFilter>
      <TraceFlag>Verbose</TraceFlag>
    </LogFilter>
  </LogSettings>
</Activator>